@import '../../style/color-palette';

.list-widgets {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-widget-title {
  margin-bottom: 2rem;
  font-weight: 400;
  color: $black;
  font-size: 1.25rem;
}
