@import '../../style/color-palette';

.info-card-loading-container {
  flex: 1;
  margin-right: 4rem;
  padding: 2rem;
  border-radius: 20px;
  background: #ecedf2;
  height: 172.55px;
  width: 100%;
  animation: info 0.5s ease infinite alternate;

  &:last-child {
    margin-right: 0;
  }
}

@keyframes info {
  to {
    opacity: 0.3;
  }
}
