@import '../../style/color-palette';

.product-list {
  width: 100%;
  height: 60vh;
  background-color: $white;

  div,
  div:focus {
    outline: none !important;
  }
}

.product-list-product-container {
  display: flex;
  align-items: center;

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.75rem;
  }
}

.product-list-actions {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
  }

  .product-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    width: 5rem;
    height: 2.25rem;
    border-radius: 20px;
    border: none;
    outline-color: $primary;
    font-weight: 600;
    cursor: pointer;

    &.edit {
      background-color: #e1ecff;
      color: #7374c4;
    }

    &.delete {
      background-color: #ffe1e1;
      color: #bb5959;
    }
  }
}
